@media print {
    .slide-background {
		color-adjust: exact;
		print-color-adjust: exact;
        background-color: #111 !important;
        -webkit-print-color-adjust: exact; 
    }
}

.row {
  display: flex;
  
}

/* Create two equal columns that sits next to each other */
.column {
	display:table-cell;
  flex: 50%;
  padding: 20px;
  
  vertical-align:middle;}


.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }
  
.reveal h5 {
  font-size: 0.7em; }
.reveal h6 {
  font-size: 0.65em;
  font-weight bold;
  text-decoration: underline;
  margin-top:1em;
  }
.mate {
font-size:0.55em;
margin-top:10px;
margin-bottom:10px;
}

.reveal p {
font-size:0.6em;
text-align: justify;
margin-bottom:0.3em;
}
.reveal blockquote {
font-size:0.6em;
text-align:justify;
padding: 10px 20px 10px 20px 
}


.reveal ul li {
	font-size: 0.6em;
	margin-bottom:20px;
	margin-top:10px;
}
.reveal ol{
	margin-top:0.4em;
}
.reveal ol li{
	font-size: 0.6em;
	margin-left:1em;
	margin-bottom:0.4em;
	
}

.reveal blockquote ol{
	margin-top:0.4em;
}
.reveal blockquote ol li{
	margin-left:1em;
	margin-bottom:0.4em;
	font-size:1em;
	
}
.reveal blockquote ul{
	margin-top:0.4em;
}
.reveal blockquote ul li{
	margin-left:1em;
	margin-bottom:0.4em;
	font-size:1em;
	
}
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.assump ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin: 0;
  padding: 0;
}
.assump ol li {
  counter-increment: my-awesome-counter;
  font-size: 0.6em;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}
.assump ol li::before {
  content: "A" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 0.5rem;
  font-family: 'Squada One', cursive;
  line-height: 1;
  color: crimson
}

.listalect ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
  link-color: #e7ad52;
}
.listalect ol li {
  counter-increment: my-awesome-counter;
  font-size: 0.65em;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
  link-color: #e7ad52;
}
.listalect ol li::before {
  content: "Lecture " counter(my-awesome-counter) ":";
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 0.5rem;
  font-family: 'Squada One', cursive;
  line-height: 1;
  color: gray;
}
a{
	target-name: new;
	target-new: tab;
}
a:link{
	color: #e7ad52;
}

a:visited{
	color: #e7ad52;
}


			
